* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    width: 100%;
    min-height:100vh;
    background-color: seashell;
}

/* Nav/////////////////////////////////////////////*/

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
    background-color: orange;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

li {
    padding: 30px
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

.push {
    margin-left: auto;
}

.push1 {
    margin-left: left;
}

/* container */